# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

*.iml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# SPM
.build
